@use 'variables' as v;

.phu__room__img{
    position: relative;
    padding-top: 50%;
    height: 250px;
}

.Phu__room__heading{
    font-size: 3.2rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding-bottom: 30px;
    border-bottom: 2px solid v.$chudao
}

.Phu__room__description{
    font-size: 1.6rem;
    margin-bottom: 16px;
    text-align: justify;
    color: rgb(99, 106, 118);
    font-weight: 500;
    padding: 10px 0;
}

.Phu__room__form__sreach{
    font-size: 1.6rem; 
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: flex-end;
}

.Chinh_icon_area{
    position: relative;
    top : 2px;
}

.Phu__room__form__sreach__select{
    margin: 0 10px;
}

.Phu__room__form__sreach-btn{
    font-size: 1.6rem;
    background-color: v.$btn;
}

.phu__room__img__price{
    margin: 0;
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: #00000083;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    padding: 4px 0;
    text-transform: uppercase;
    text-shadow: 0 0px 2px rgba(255, 255, 255, 0.1);
    font-weight: 500;
}

.card-body__content{
    width: 100%;
    text-align: center;
}


.phu__room__type{
    font-size: 2.2rem;
}

.phu__room__name{
    margin: 14px 0;
}

.phu__room__name, 
.phu__room__title{
    font-size: 1.5rem;
    color: #33312d;
    font-weight: 500;
}

.phu__room__title{

}

.phu__room__cart__des{
    padding: 0 10px;
    margin-top: 20px;
    font-size: 1.6rem;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

.phu__room__cart__btn{
    margin: 10px 10px 0;
    font-size: 1.5rem;
    width: calc(100% - 20px);
    font-weight: 500;
    background-color: v.$btn;
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
}

.phu__room__card{
    position: relative;
    margin-bottom: 32px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.phu__room__status{
    position: absolute;
    top: 20px;
    left:-6px;
    background-color: v.$chudao;
    font-size: 1.6rem;
    color: #fff;
    padding: 5px 8px;
    line-height: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.phu__room__status--booked {
  background-color: rgb(0, 44, 31);
}

.phu__room__status::after{
   content: "";
   position: absolute;
   left: 0;
   bottom: -4px;
   border-top: 4px solid v.$chudao;
   border-left: 4px solid transparent;
   filter: brightness(60%);
}

.phu__room__status__icon{
    font-size: 1.5rem;
}
