@use 'variables' as v;

.slide_hbs{
    position: relative;
    // padding-top: 50%;
    height: 80vh;
    width: 100%;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), /* lớp phủ mờ */
        url('/img/slide_chinh.jpg') top center / cover no-repeat;
}

.slide_hbs .slide__content{
    position: absolute;
    bottom: 300px;
    color: #fff;   
}

.slide__content{
    width: 100%;
    text-align: center;
    
}

.text__heading{
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.text__des{
    font-size: 7rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.header__booking{
    position: relative;
    background-color: #046056;
    width: 100%;
    height: 100px;
    
}

.header__booking__container{
    display: flex;
    align-items: center;
}

.header__booking__container button{
    width: 212px;
    height: 38px;
    margin-top: 29px;
    font-size: 1.6rem;
}

.custom-select{
    width: 212px;
    height: 38px;
    font-size: 1.6rem;
}

.form-control{
    width: 212px;
    height: 38px;
    font-size: 1.6rem;
}

.header__booking__form{
    height: 100%;
    display: flex;
    align-items: center;
}

.header__booking__des{
    font-size: 1.6rem;
    color: v.$white-color;
    text-transform: uppercase;
}

.header__booking__content{
    margin-right:20px;
}
