<div class="Service__body">
    <div class="row">
        <div class="col-6">
            <div class="Service__tiec__title">ĐỊA ĐIỂM LÝ TƯỞNG CHO CÁC CHƯƠNG TRÌNH HỘI NGHỊ, HỘI THẢO VÀ SỰ KIỆN</div>
            <div class="Service__tiec__des">Cung hội nghị Quốc tế International Convention Palace (ICP) với phòng Hội nghị lớn sức chứa lên tới 1000 khách cùng hơn 10 phòng chức năng phụ trợ quy mô từ 50 đến 300 khách được trang bị cơ sở vật chất, thiết bị hiện đại, là địa điểm lý tưởng dành cho các đoàn MICE tổ chức hội nghị, hội thảo và sự kiện</div>
            <div class="Service__tiec__des">Không gian ngoài trời trên bãi biển hay bên hồ Lagoon giữa khu rừng nhiệt đới rậm rạp, ngập khí trời, nước và ánh sáng có thể bay cùng mọi ý tưởng sáng tạo những bữa tiệc theo chủ đề độc đáo hay hoạt động team-building truyền cảm hứng hay gắn kết cộng đồng. Sân bay trực thăng nằm ngay trên bãi biển, cùng hai sân Golf 18 lỗ gần kề, với các dịch vụ ẩm thực, spa, giải trí kết hợp nghỉ dưỡng đẳng cấp cung cấp thêm nhiều sự lựa chọn cho các nhà tổ chức, khách hàng doanh nghiệp khẳng định vị thế, để lại ấn tượng tốt đẹp trong lòng đối tác và khách hàng.</div>
        </div>
        <div class="col-6">
            <div class="Service__tiec__img"><img src="\img\DichVu\tiec2.webp" alt="Hiển thị ảnh lỗi"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-6">
            <div class="Service__tiec__img"><img src="\img\DichVu\tiec1.jpg" alt="Hiển thị ảnh lỗi"></div>
        </div>
        <div class="col-6">
            <div class="Service__tiec__title">HỘI NGHỊ VÀ SỰ KIỆN</div>
            <div class="Service__tiec__des">Cung hội nghị Quốc tế International Convention Palace (ICP) với phòng Hội nghị lớn sức chứa lên tới 1000 khách cùng hơn 10 phòng chức năng phụ trợ quy mô từ 50 đến 300 khách được trang bị cơ sở vật chất, thiết bị hiện đại, là địa điểm lý tưởng dành cho các đoàn MICE tổ chức hội nghị, hội thảo và sự kiện</div>
            <div class="Service__tiec__des">Không gian ngoài trời trên bãi biển hay bên hồ Lagoon giữa khu rừng nhiệt đới rậm rạp, ngập khí trời, nước và ánh sáng có thể bay cùng mọi ý tưởng sáng tạo những bữa tiệc theo chủ đề độc đáo hay hoạt động team-building truyền cảm hứng hay gắn kết cộng đồng. Sân bay trực thăng nằm ngay trên bãi biển, cùng hai sân Golf 18 lỗ gần kề, với các dịch vụ ẩm thực, spa, giải trí kết hợp nghỉ dưỡng đẳng cấp cung cấp thêm nhiều sự lựa chọn cho các nhà tổ chức, khách hàng doanh nghiệp khẳng định vị thế, để lại ấn tượng tốt đẹp trong lòng đối tác và khách hàng.</div>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-6">
            <div class="Service__tiec__title">TIỆC CƯỚI</div>
            <div class="Service__tiec__des">Cung hội nghị Quốc tế International Convention Palace (ICP) với phòng Hội nghị lớn sức chứa lên tới 1000 khách cùng hơn 10 phòng chức năng phụ trợ quy mô từ 50 đến 300 khách được trang bị cơ sở vật chất, thiết bị hiện đại, là địa điểm lý tưởng dành cho các đoàn MICE tổ chức hội nghị, hội thảo và sự kiện</div>
            <div class="Service__tiec__des">Không gian ngoài trời trên bãi biển hay bên hồ Lagoon giữa khu rừng nhiệt đới rậm rạp, ngập khí trời, nước và ánh sáng có thể bay cùng mọi ý tưởng sáng tạo những bữa tiệc theo chủ đề độc đáo hay hoạt động team-building truyền cảm hứng hay gắn kết cộng đồng. Sân bay trực thăng nằm ngay trên bãi biển, cùng hai sân Golf 18 lỗ gần kề, với các dịch vụ ẩm thực, spa, giải trí kết hợp nghỉ dưỡng đẳng cấp cung cấp thêm nhiều sự lựa chọn cho các nhà tổ chức, khách hàng doanh nghiệp khẳng định vị thế, để lại ấn tượng tốt đẹp trong lòng đối tác và khách hàng.</div>
        </div>
        <div class="col-6">
            <div class="Service__tiec__img"><img src="\img\DichVu\tiec3.jfif" alt="Hiển thị ảnh lỗi"></div>
        </div>
    </div>
</div>

