<footer >
    <div class="container" style="position: relative;">
        <div class="row row_footer">
            <div class="col-3"> 
                <div class="footer__heading">20 HOTEL</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__item__link">
                            <i class="fa-solid fa-location-dot"></i>
                            49 P.Trần Quốc Vượng, Dịch Vọng Hậu , Cầu Giấy, Hà Nội
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item__link">
                            <i class="fa-solid fa-phone mr-3"></i>
                            0983230944
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item__link">
                            <i class="fa-solid fa-envelope mr-3"></i>
                            20hotel@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <div class="footer__heading">Dịch vụ</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__item__link">
                            Tiệc Cuới & Hội nghị
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item__link">
                            Ẩm thực & Ăn uống
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item__link">
                            Giải trí & Thư giãn
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <div class="footer__heading">về chúng tôi</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__item__link">
                            Giới thiệu
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item__link">
                            Điều kiện và điều khoản
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__item__link">
                            Phương thức thanh toán
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-5 footer__cot4">
                <div> 
                    <div class="footer__heading">Đăng kí hội viên</div>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#" class="footer__item__link">
                                Tham gia với chúng tôi!
                            </a>
                        </li>
                        <div class="form-group footer__form_group ">                      
                            <input type="email " class="form-control footer__email" aria-describedby="emailHelp" placeholder="Nhập email">
                            <a href=""><button type="button" class="btn footer__btn">Gửi</button></a>
                        </div>
                    </ul>
                </div>              
            </div> 
        </div> 
        <div class="footer__end">
                <p class="footer__end__titel">Copyright by 20 Hotel | All Rights Reserved.</p>
                <div class="footer__end__icon">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
        </div>
    </div>
    
</footer>