<div class="header-1">
  <div class="container">
    <div class="contact">
      <ul class="contact__list">
        <li class="contact__item contact__item-separate ">Kính chào quý khách</li>
        <li class="contact__item ml-4">
          Kết nối
          <a href="" class="contact__icon-link"><i class="fa-brands fa-facebook"></i></a>
          <a href="" class="contact__icon-link"><i class="fa-brands fa-instagram"></i></a>
        </li>
      </ul>
      <ul class="contact__list">
        <li class="contact__item">
          <a href="" class="contact__icon-link mr-3"><i class="fa-solid fa-phone mr-3"></i>0983230945</a>
          <a href="" class="contact__icon-link"><i class="fa-solid fa-envelope mr-3"></i>anbinh.hanoi@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="header">
  <div class="container ">
    <div class="navbar">
      <ul class="navbar_list">
        <li>
          <a class="navbar_item" href="/">
            <img class="logo" src="/img/logo.png" alt="">
          </a>
        </li>
        <li>
          <a href="/" class="navbar_item" navbar_itemhref="">Trang chủ</a>
        </li>
        <li>
          <a href="/gioi_thieu" class="navbar_item" navbar_itemhref="">Giới thiệu</a>
        </li>
        <li class="navbar__hangphong">
          
          <a class="navbar_item" href="/hangphong">hạng phòng</a>
          <ul class="navbar__hangphong__list">
            {{#each RoomTypes}}
            <li class="navbar__hangphong__item__link">
              <a href="/hangphong/{{this._id}}/rooms">{{this.name}}</a>
            </li>
            {{/each}}
          </ul>
        </li>
        <li class="navbar__dichvu">
          <a class="navbar_item" >dịch vụ</a>
          <ul class="navbar__dichvu__list">
            <li class="navbar__hangphong__item__link">
              <a href="/dichvu/amthuc">Ẩm thực & Ăn uống</a>
            </li>
            <li class="navbar__hangphong__item__link">
              <a href="/dichvu/tiec">Tiệc cưới & Hội nghị</a>
            </li>
            <li class="navbar__hangphong__item__link">
              <a href="">Giải trí & Thư giãn</a>
            </li>            
          </ul>
        </li>
        <li><a class="navbar_item" href="/question">Liên hệ</a></li>
        <li><a class="navbar_item" href="">Thư viện ảnh</a></li>
      </ul>
      <ul class="navbar_list">
        {{#if username}}
        
        <li class="navbar__taikhoan"> {{!-- Bạn sẽ cần thêm CSS cho class này --}}
            {{!-- Hiển thị tên người dùng --}}
            <a class="navbar_item Huy_padding" style="cursor: pointer;">
                <i class="fa-solid fa-user mr-3"></i>{{username}}
            </a>
            
            <ul class="navbar__hangphong__list">
                {{#if (eq userRole 'user')}}
                    {{!-- 1. Link đến Lịch sử đặt phòng --}}
                    <li class="navbar__hangphong__item__link">
                        <a href="/account/bookings">Lịch sử đặt phòng</a>
                    </li>
                {{/if}}

                {{#if (eq userRole 'admin')}}
                    {{!-- 2. Link đến Trang quản lý --}}
                    <li class="navbar__hangphong__item__link">
                        <a href="/manage">Trang quản lý</a>
                    </li>
                {{/if}}
                
                {{!-- 3. Link Đăng xuất --}}
                <li class="navbar__hangphong__item__link">
                    <a href="/account/logout">Đăng xuất</a>
                </li>
            </ul>
        </li>
    {{else}}
        {{!-- NẾU CHƯA ĐĂNG NHẬP --}}
        <li>
            <a href="/account/login" class="navbar_item Huy_padding">
                <i class="fa-solid fa-user mr-3"></i>Tài khoản
            </a>
        </li>
    {{/if}}
      </ul>
    </div>
  </div>
</div>
