<div class="manage__header">
    <div class="manage__navbar">
      <ul class="manage__navbar_list ">
        <li class="manage__navbar__hangphong ">
          <a href="/manage" class="manage__navbar_item" >Tổng quan</a>
        </li>
        <li><a class="manage__navbar_item" href="/manage/lich_dat_phong">Lịch Đặt Phòng</a></li>
        <li class="manage__navbar__hangphong ">
          <a class="manage__navbar_item" href="/manage/quan_li_phong">Phòng</a>
          <ul class="manage__navbar__hangphong__list">
            <li class="manage__navbar__hangphong__item__link">
              <a href="/manage/quan_li_phong">Danh sách phòng</a>
            </li>
            <li class="manage__navbar__hangphong__item__link">
              <a href="/manage/quan_li_hangphong">Hạng phòng</a>
            </li>
          </ul>
        </li>
        <li class="manage__navbar__dichvu ">
          <a class="manage__navbar_item" href="/manage/quan_li_dichvu">dịch vụ</a>
        </li>
        <li ><a class="manage__navbar_item" href="/manage/quan_li_phieuthue">Phiếu thuê</a></li>
        <li ><a class="manage__navbar_item" href="/manage/quan_li_hoadon">Hóa Đơn</a></li>
        <li ><a class="manage__navbar_item" href="/manage/quan_li_khachhang">Khách hàng</a></li>
        <li ><a class="manage__navbar_item" href="/manage/quan_li_khuyenmai">Giảm giá</a></li>
        <li ><a class="manage__navbar_item" href="/manage/bao_cao">Báo Cáo</a></li>
        <li ><a class="manage__navbar_item" href="/manage/quan_li_taikhoan">Tài Khoản</a></li>
      </ul>
      <ul class="manage__navbar_list">
        {{#if username}}
          <li class="manage__navbar__user">
            <a href="/manage" class="manage__navbar_item">{{username}}</a>
            <ul class="manage__navbar__user__list">
              <li class="manage__navbar__hangphong__item__link">
                  <a href="/manage/logout">Đăng xuất</a>
              </li>
          </ul>
          </li>
        {{else}}
          <li><a href="/login" class="manage__navbar_item">
            <i class="fa-solid fa-user mr-3"></i>Tài khoản</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>

