<div class="slide_hbs">
    <div class="slide__content">
        <div class="text__heading">BÌNH YÊN GIỮA LÒNG PHỐ CỔ</div>
        <div class="text__des">AN BÌNH</div> 
    </div>
</div>
{{!-- <div class="header__booking">
      <div class="container header__booking__container">
        <div class="header__booking__form">
            <div class="header__booking__content">
                <div class="header__booking__des mb-2">Ngày đến</div>
                <input type="date" id="ngayDen" class="form-control" style="cursor: pointer;">               
            </div>
            <div class="header__booking__content">
                <div class="header__booking__des mb-2">Ngày đi</div>
                <input type="date" class="form-control" id="ngayDen" name="ngayDen">
            </div>
            <div class="header__booking__content">
                <div class="header__booking__des mb-2">Người lớn</div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="header__booking__content">
                <div class="header__booking__des mb-2">Trẻ em</div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-info">Đặt phòng</button>
      </div>
</div> --}}

