<div class='slide_hbs_phu'>
  <div class='slide__content_phu'>
    <div class='text__des'>Giới thiệu</div>
  </div>
</div>
<div class='container'>
  <div class='row mt-5'>
    <div class='col-6'>
      <div class='GioiThieu__titile'>
        NHÀ NGHỈ AN BÌNH – ỐC ĐẢO BÌNH YÊN GIỮA LÒNG PHỐ CỔ
      </div>
      <p class='GioiThieu__des mb-4'>
        Tọa lạc tại "trái tim" của Phố Cổ Hà Nội, Nhà nghỉ An Bình ẩn mình trong
        ngõ Chân Cầm, phường Hàng Trống – một trong những con ngõ yên tĩnh và cổ
        kính bậc nhất thủ đô. Đây là điểm dừng chân lý tưởng cho du khách khi
        ghé thăm Hà Nội ngàn năm văn hiến. Từ nhà nghỉ, quý khách chỉ mất vài
        phút đi bộ để đến các địa điểm tham quan không thể bỏ lỡ như Hồ Hoàn
        Kiếm, Nhà Thờ Lớn Hà Nội, Chợ Đêm Đồng Xuân hay Nhà hát Múa rối nước
        Thăng Long. Với hệ thống 20 phòng nghỉ sạch sẽ, tiện nghi và ấm cúng,
        cùng dịch vụ thân thiện như gia đình, An Bình mang đến trải nghiệm lưu
        trú gần gũi, an toàn và đáng nhớ cho du khách trong nước lẫn quốc tế.
      </p>
      <div class='GioiThieu__img'>
        <img src='\img\GioiThieu\hoguom.jpg' alt='' />
      </div>
      <div class='row mt-3'>
        <div class='col-6 GioiThieu__img' style='padding-right: 6px;'>
          <img class='img2' src='\img\GioiThieu\langbac.jpg' alt='' />
        </div>
        <div class='col-6 GioiThieu__img' style='padding-left: 6px;'>
          <img class='img2' src='\img\GioiThieu\phoco.jpg' alt='' />
        </div>
      </div>
    </div>
    <div class='col-6'>
      <img src="/img/anbinh.png" alt="" style="width: 100%; height: 300px; object-fit: contain">
      <p class='GioiThieu__des'>
        <p class='GioiThieu__des'>Nhà nghỉ An Bình không chỉ là một nơi để nghỉ
          ngơi giữa lòng quận Hoàn Kiếm, mà còn là nơi mang đến trải nghiệm khám
          phá văn hóa Phố Cổ đích thực. Tại An Bình, du khách sẽ được tận hưởng
          sự yên tĩnh hiếm có, không gian sạch sẽ, cùng với các dịch vụ hỗ trợ
          du lịch tiện lợi, phù hợp cho cả khách du lịch ba lô, các cặp đôi và
          gia đình nhỏ.</p>
        <p class='GioiThieu__des'>Khám phá ẩm thực đường phố Thay vì một nhà
          hàng lớn, thế mạnh của An Bình chính là nằm giữa "thiên đường ẩm thực"
          Hà Nội. Chỉ cần bước ra khỏi ngõ, quý khách có thể tìm thấy mọi món ăn
          đặc trưng như Phở Bát Đàn, bún chả Hàng Mành, cà phê trứng Giảng, hay
          vô vàn món ăn vặt tại chợ Hàng Da.</p>
        <p class='GioiThieu__des'>Dịch vụ tận tâm từ trái tim: Chúng tôi hiểu rằng
            du lịch không chỉ là một căn phòng. Đội ngũ lễ tân 24/7 của An Bình
            luôn sẵn sàng hỗ trợ bạn mọi thứ: từ việc sắp xếp xe đưa đón sân bay,
            tư vấn các điểm tham quan thú vị,
            đến cho thuê xe máy để bạn tự mình lượn lờ phố phường hay dịch vụ
            giặt là nhanh chóng.</p>
        <p class='GioiThieu__des'>Với hệ thống phòng nghỉ đa dạng từ Standard
          (tiết kiệm) đến Superior (có cửa sổ) và Family (cho gia đình/nhóm
          bạn), tất cả đều được trang bị đầy đủ tiện nghi cơ bản, cùng đội ngũ
          nhân viên thân thiện phục vụ 24/7, Nhà nghỉ An Bình cam kết mang đến
          cho quý khách trải nghiệm “ở như nhà, khám phá như người bản địa” ngay
          giữa lòng thủ đô.</p>
          <p class='GioiThieu__des'>Hãy để Nhà nghỉ An Bình là ngôi nhà thứ hai của
        bạn tại Hà Nội, nơi bạn bắt đầu một hành trình khám phá đầy ắp kỷ niệm
        ngay tại trung tâm Phố Cổ. Chúng tôi rất mong được chào đón bạn!</p>
      </p>
    </div>
  </div>
</div>